/* COLOR VARIABLES */
:root {
  --header: white;
  --background: #f1f3f8;
  --board: #c0d0eb;
  --column-highlight:#b1c5e6;
  --empty: #f1f3f8;
  --player1: #7f859b;
  --player2: #393b44;
}

/* SPACE AND SIZE VARIABLES */
:root {
  --board-radius: 30px;
}

/* PAGE GENERAL STYLES*/
html, body, #root, .App {
  height: 100%;
}

.App {
  background-color: var(--background);
}

/* HEADER STYLES*/
header {
  display: flex;
  align-items: baseline;
  background-color: var(--header);
}
#header-title {
  font-size: 2em;
}
header .header-item {
  margin: 0 5em;
  cursor: pointer;
}

/* BOARD STYLES*/
.board-container {
  margin: 3em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* COLUMN STYLES*/
.column-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--board);
}

.column-container:hover {
  background-color: var(--column-highlight);
}

.leftmost-column {
  border-radius: var(--board-radius) 0 0 var(--board-radius);
}

.rightmost-column {
  border-radius: 0 var(--board-radius) var(--board-radius) 0;
}
/* CELL STYLES*/
.cell{
  height: 5em;
  width: 5em;
  border-radius: 100%;
  margin: 1em;
}

.empty-cell {
  background-color: var(--empty);
}

.player1-cell {
  background-color: var(--player1);
}

.player2-cell {
  background-color: var(--player2);
}