/* COLOR VARIABLES */
:root {
  --header: white;
  --header-text: #393b44;
  --button-text: white;
  --banner-text: #393b44;
  --banner-lose: rgb(212, 96, 96);
  --background: #f1f3f8;
  --button: #393b44;
  --button-highlight: rgb(209, 92, 92);
  --board: #c0d0eb;
  --column-highlight:#b1c5e6;
  --empty: #f1f3f8;
  --player1: #5d84c4;
  --player2: rgb(204, 93, 93);
  --option-selected: rgb(231, 117, 117);
  --option-hover: rgba(212, 96, 96, 0.288);
}

/* SPACE AND SIZE VARIABLES */
:root {
  --header-height: 3.5em;
  --banner-font-size: 3em;
  --banner-font-size-enlarged: 4em;
  --board-radius: 30px;
  --cell-height: 8vh;
  --cell-width: 8vh;
}

/* PAGE GENERAL STYLES*/
html {
  background-color: var(--background);
}
html, body, #root, .App {
  
  height: 100%;
}

/* HEADER STYLES*/
header {
  height: var(--header-height);
  display: flex;
  align-items: baseline;
  background-color: var(--header);
  font-weight: bold;
  box-shadow: 0 0px 35px -23px;
}

#header-title {
  font-size: 2em;
  margin: 0 1em;
  color: var(--header-text);
}

.header-item {
  margin: 0 3.5em;
  cursor: pointer;
  height: 80%;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header-select {
  width: 10em;
}
.header-button{
  background-color: var(--button);
  color: var(--button-text);
}

.header-button:hover {
  background-color: var(--button-highlight);
  transition: 0.2s;
}


/* SELECT BOX STYLES */
.select-box-container {
  width: 100%;
  text-align: center;
  color: var(--header-text);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.select-title {
  width: 100%;
  height: 100%;
}

.select-title img {
  height: 10px;
  width: 10px;
  margin-left: 0.5em;
}

.select-title:hover {
  color:rgb(209, 92, 92);
  transition: 0.2s;
}
.select-options {
  width: 17em;
  font-weight: normal;
  background-color: white;
  position: relative;
  top: 1.7em;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
}

.option {
  padding: 1em;
  border-radius: 5px;
}

.option:hover {
  background-color: var(--option-hover);
  /*color: white;*/
}


.option-selected {
  padding: 1em;
  border-radius: 5px;
  background-color: var(--option-selected);
  /*color: white;*/
}


/* BANNER STYLES */
.banner-container{
  height: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: var(--banner-font-size);
  font-weight: bold;
  color: var(--banner-text);
}

.message-ai {
  font-size: var(--banner-font-size);
  font-weight: bold;
  color: var(--banner-lose);
}

/* BOARD STYLES*/
.board-container {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 2em 0;
}
/* COLUMN STYLES*/
.column-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--board);
}

.column-container:hover {
  background-color: var(--column-highlight);
  
}

.leftmost-column {
  border-radius: var(--board-radius) 0 0 var(--board-radius);
}

.rightmost-column {
  border-radius: 0 var(--board-radius) var(--board-radius) 0;
}
/* CELL STYLES*/
.cell-container {
  height: var(--cell-height);
  width: var(--cell-width);
  border-radius: 100%;
  margin: 2vh;
  background-color: var(--empty);
}
.cell{
  height: var(--cell-height);
  width: var(--cell-width);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-cell {
  background-color: var(--empty);
}

.player1-cell {
  background-color: var(--player1);
}

.player2-cell {
  background-color: var(--player2);
}

.cell-container img {
  height: 70%;
  width: 70%;
}

/* SPECIAL EFFECTS */
.mark-winning-effect {
  animation: expand-cross ease 1.5s;
  -webkit-animation: expand-cross ease 1.5s;
  -moz-animation: expand-cross ease 1.5s;
}

.banner-win-effect {
  animation: fadeIn ease 1s, enlarge 1.5s;
  -webkit-animation: fadeIn ease 1s, enlarge 1.5s;
  -moz-animation: fadeIn ease 1s, enlarge 1.5s;
}

.banner-ai-win-effect {
  animation: fadeIn ease 1s, shake 1s;
  -webkit-animation: fadeIn ease 1s, shake 1s;
  -moz-animation: fadeIn ease 1s, shake 1s;
}

.banner-draw-effect {
  animation: fadeIn ease 1s, shake 1s;
  -webkit-animation: fadeIn ease 1s, shake 1s;
  -moz-animation: fadeIn ease 1s, shake 1s;
}

.reminder-effect {
  animation: fade-in-delay ease 8s;
  -webkit-animation: fade-in-delay ease 8s;
  -moz-animation: fade-in-delay ease 8s;
}

.drop-token-effect {
  animation: drop-token 0.65s;
  -webkit-animation: drop-token 0.65s;
  -moz-animation: drop-token 0.65s;
}

.rotate-effect {
  animation: drop-token 0.65s;
  -webkit-animation: drop-token 0.65s;
  -moz-animation: drop-token 0.65s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes shake{ 
  0%{transform: translateX(0);} 
  25%{transform: translateX(10px);} 
  50%{transform: translateX(-10px);} 
  100%{transform: translateX(0px);} 
}

@-moz-keyframes shake{ 
  0%{transform: translateX(0);} 
  25%{transform: translateX(10px);} 
  50%{transform: translateX(-10px);} 
  100%{transform: translateX(0px);} 
}

@keyframes enlarge {
  0%{font-size: var(--banner-font-size);}
  50%{font-size: var(--banner-font-size-enlarged);}
  100%{font-size: var(--banner-font-size);}
}

@-moz-keyframes enlarge {
  0%{font-size: var(--banner-font-size);}
  50%{font-size: var(--banner-font-size-enlarged);}
  100%{font-size: var(--banner-font-size);}
}

@keyframes drop-token {
  0%{transform: translateY(-1000px)}
  45%{transform: translateY(0px)} 
  65%{transform: translateY(-19px)}
  72%{transform: translateY(-20px)}
  100%{transform: translateY(0px)}
}

@-moz-keyframes drop-token {
  0%{transform: translateY(-1000px)}
  45%{transform: translateY(0px)} 
  65%{transform: translateY(-19px)}
  72%{transform: translateY(-20px)}
  100%{transform: translateY(0px)}
}

@keyframes expand-cross {
  0%{
    height: 0%;
    width: 0%;
  }
  30%{
    height: 0%;
    width: 0%;
  }
  65% {
    height: 90%;
    width: 90%;
  }
  85%{
    height: 70%;
    width: 70%;
  }
}

@-moz-keyframes expand-cross {
  0%{
    height: 0%;
    width: 0%;
  }
  30%{
    height: 0%;
    width: 0%;
  }
  65% {
    height: 90%;
    width: 90%;
  }
  85%{
    height: 70%;
    width: 70%;
  }
}

@keyframes fade-in-delay {
  0% {opacity:0;}
  75%{opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fade-in-delay {
  0% {opacity:0;}
  75%{opacity:0;}
  100% {opacity:1;}
}

/* 20, 7, 28*/