header {
  display: flex;
  align-items: baseline;
}
#header-title {
  font-size: 2em;
}
header .header-item {
  margin: 0 5em;
  cursor: pointer;
}

.board-container {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.column-container:hover {
  background-color: gray;
}

.cell-container {
  height: 7em;
  width: 7em;
}