/* COLOR VARIABLES */
:root {
  --header: white;
  --header-text: #393b44;
  --button-text: white;
  --banner-text: #393b44;
  --background: #f1f3f8;
  --button: #393b44;
  --button-highlight: #474b55;
  --board: #c0d0eb;
  --column-highlight:#b1c5e6;
  --empty: #f1f3f8;
  --player1: #7f859b;
  --player2: #393b44;
}

/* SPACE AND SIZE VARIABLES */
:root {
  --header-height: 3.5em;
  --banner-font-size: 3em;
  --banner-font-size-enlarged: 4em;
  --board-radius: 30px;
  --cell-height: 8vh;
  --cell-width: 8vh;
}

/* PAGE GENERAL STYLES*/
html {
  background-color: var(--background);
}
html, body, #root, .App {
  
  height: 100%;
}

/* HEADER STYLES*/
header {
  height: var(--header-height);
  display: flex;
  align-items: baseline;
  background-color: var(--header);
  font-weight: bold;
  box-shadow: 0 0px 35px -23px;
}

#header-title {
  font-size: 2em;
  margin: 0 1em;
  color: var(--header-text);
}

.header-item {
  margin: 0 1em;
  cursor: pointer;
  height: 80%;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header-button{
  background-color: var(--button);
  color: var(--button-text);
}

.header-button:hover {
  background-color: var(--button-highlight);
}
/* BANNER STYLES */
.banner-container{
  height: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: var(--banner-font-size);
  font-weight: bold;
  color: var(--banner-text);
}

/* BOARD STYLES*/
.board-container {
  /*height: var(--board-height);*/
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 2em 0;
}
/* COLUMN STYLES*/
.column-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--board);
}

.column-container:hover {
  background-color: var(--column-highlight);
  
}

.leftmost-column {
  border-radius: var(--board-radius) 0 0 var(--board-radius);
}

.rightmost-column {
  border-radius: 0 var(--board-radius) var(--board-radius) 0;
}
/* CELL STYLES*/
.cell-container {
  height: var(--cell-height);
  width: var(--cell-width);
  border-radius: 100%;
  margin: 1em;
  background-color: var(--empty);
}
.cell{
  height: var(--cell-height);
  width: var(--cell-width);
  border-radius: 100%;
}

.empty-cell {
  background-color: var(--empty);
}

.player1-cell {
  background-color: var(--player1);
}

.player2-cell {
  background-color: var(--player2);
}

/* SPECIAL EFFECTS */
.banner-win-effect {
  animation: fadeIn ease 1s, enlarge 1.5s;
  -webkit-animation: fadeIn ease 1s, enlarge 1.5s;
  -moz-animation: fadeIn ease 1s, enlarge 1.5s;
}

.banner-draw-effect {
  animation: fadeIn ease 1s, shake 1s;
  -webkit-animation: fadeIn ease 1s, shake 1s;
  -moz-animation: fadeIn ease 1s, shake 1s;
}

.drop-token-effect {
  animation: drop-token 0.65s;
  -webkit-animation: drop-token 0.65s;
  -moz-animation: drop-token 0.65s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes shake{ 
  0%{transform: translateX(0);} 
  25%{transform: translateX(10px);} 
  50%{transform: translateX(-10px);} 
  100%{transform: translateX(0px);} 
}

@keyframes enlarge {
  0%{font-size: var(--banner-font-size);}
  50%{font-size: var(--banner-font-size-enlarged);}
  100%{font-size: var(--banner-font-size);}
}

@keyframes drop-token {
  0%{transform: translateY(-1000px)}
  45%{transform: translateY(0px)} 
  65%{transform: translateY(-19px)}
  72%{transform: translateY(-20px)}
  100%{transform: translateY(0px)}
}
/* 20, 7, 28*/